<div mat-dialog-content class="content">
  <mat-label>Login Dialog</mat-label>
    <form action="">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
          </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-raised-button color="warm">Login</button>
        <button mat-button (click)="openRegisterDialog()">Register?</button>
    </div>
    
</div>