.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    background-color: var(--background-color);
    color: var(--text-color);
}

.buttons button{
    margin: 1vh;
    color: var(--text-color);
}

