<div mat-dialog-content class="box">
  <mat-label>Login Dialog</mat-label>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password">
          </mat-form-field>
   

    <div class="buttons">
        <button mat-raised-button color="warm" (click)="login()">Login</button>
        <button mat-button mat-dialog-close  (click)="openRegisterDialog()">Register?</button>
    </div>
  </form>
    
</div>