.table {

  margin: 10px 80px;
  padding: auto 80px;
    text-align: center;
    width: 100%;
  table-layout: fixed;
  align-items: center;
  align-content: center;
  align-self: center;
}
mat-form-field {
    margin: 1vh ;
}

.content {
    padding: 2vh;
    display: flex;
   flex-direction: column;
}
.search {
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
    align-self: center;
    align-content: space-evenly;

}
.vertical {

    height: 60px;
   margin: 10px;
    left: 50%;
}


 button{

  flex: none;
  width: 50px;
  margin-left: 15px;

}
.actionHeader {
  text-align: center;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
