
.sidenav-container {
  height: 100%;
  align-items: center;
  align-content: center;
  background-color: var(--background-color);
  color: var(-text-color);
}

.sidenav {
  width: 175px;

  background-color: var(--background-color);
 

}
mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
a {
  color: var(--text-color);
  text-decoration: none;
  font-size: larger;
  text-align: center;
  width: 100%;
  margin: 15px 5px;
 padding: 15px 0;
  
}
a:hover {
  background-color: rgba(227, 227, 227, 0.855);
  cursor: pointer;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.buttons{
  position: relative;
}
.toggle {
  align-self: center;
}


