<mat-sidenav-container   class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
     <a mat-list-item href="weatherView">Weather View</a>

      <a mat-list-item href="mapView">Map View</a>
      <a mat-list-item (click)="openLoginDialog()">Login</a>
      <a mat-list-item (click)="openRegisterDialog()">Register</a>
      <a mat-list-item (click)="logout()" *ngIf="isloggedout()">Logout</a>
      <a disabled="true" mat-list-item> <mat-slide-toggle class="toggle" (toggleChange)="switchTheme()"></mat-slide-toggle> </a>





    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>WeatherApp</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <p *ngIf="!isloggedout()">Log in to view this page</p>
  </mat-sidenav-content>
</mat-sidenav-container>
