
.sidenav-container {
  height: 100%;
  align-items: center;
  align-content: center;
}

.sidenav {
  width: 150px;
  
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.buttons{
  position: relative;
}
.toggle {
  align-self: center;
}